#Projects {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 90%;
	margin: 0 auto;
	padding: 5rem 0;
}

.projects_title {
	padding: 5rem 0;
	margin: 2rem 0;
	font-size: 6rem;
	background: linear-gradient(90deg, #06b6d4 0%, #0e8de9 50%, #3bf69c 100%);
	font-family: var(--tipo-principal);
	background-size: 300% 400%;
	animation: gradient 10s ease infinite;
	font-weight: 900;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.main_container_project {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
	align-items: center;
	justify-content: center;
	width: 90%;
	margin: 0 auto;
	gap: 2rem;
}

.container_card_project {
	max-width: 24rem;
	min-width: 20rem;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	height: 28rem;
	overflow: hidden;
	border-radius: 1rem;
}
.img_card_project {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.svg_card_project {
	position: absolute;
	bottom: -16%;
	width: 100%;
	height: 100%;
	animation: small 0.5s linear;
}

@keyframes small {
	0% {
		scale: 650%;
	}
	100% {
		scale: 100%;
	}
}

.svg_card_project.isActive {
	scale: 650%;
	animation: big 0.5s linear;
}

@keyframes big {
	0% {
		scale: 100%;
	}
	100% {
		scale: 650%;
	}
}

.body_card_project {
	position: relative;
	width: 100%;
	height: 100%;
	bottom: -17%;
}

.title_card_project {
	font-size: 1.8rem;
	position: absolute;
	width: 200px;
	height: 23px;
	left: 21px;
	top: 260px;
	transform: translateY(-2px);
	animation: decrecer 0.5s linear;
}

.svg_card_project.isActive ~ .title_card_project {
	transform: translateY(-240px);
	animation: crecer 0.4s linear;
}

@keyframes crecer {
	0% {
		transform: translateY(-2px);
	}
	100% {
		transform: translateY(-240px);
	}
}

@keyframes decrecer {
	0% {
		transform: translateY(-240px);
	}
	100% {
		transform: translateY(-2px);
	}
}

.description_card_project {
	position: absolute;
	font-size: 1.3rem;
	font-style: italic;
	width: 90%;
	height: 4rem;
	left: 21px;
	top: 120px;
	transform: translateY(-2px);
	opacity: 0;
}


.svg_card_project.isActive ~ .description_card_project {
	opacity: 1;
	transform: translate(0, -10px);
	animation: opacity 0.7s ease-in-out;
}

@keyframes opacity {
	0% {
		transform: translate(0, 0);
		opacity: 0;
	}
	100% {
		transform: translate(0, -10px);
		opacity: 1;
	}
}

.container_buttons_card_project {
	position: absolute;
	font-size: 1em;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 20rem;
	height: 23px;
	left: 0px;
	top: 311px;
	transform: translateY(150px);
	animation: opacity_traslate_out 0.5s ease-in-out;
}

@keyframes opacity_traslate_out {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(150px);
	}
}

.container_buttons_card_project.isActive {
	transform: translateY(0);
	animation: opacity_traslate 0.5s ease-in-out;
}

@keyframes opacity_traslate {
	0% {
		transform: translateY(150px);
	}
	100% {
		transform: translateY(0);
	}
}

.button_card_project {
	text-align: center;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	font-size: 1.2rem;
	border: 1px solid #3bf69c;
	cursor: pointer;
}

.button_card_project:hover {
	background-color: #3bf69c;
	color: #fff;
}
