#Skills {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 70%;
	margin: 0 auto;
	padding: 5rem 0;
}

.skills_title {
	padding: 5rem 0;
	margin: 2rem 0;
	font-size: 6rem;
	background: linear-gradient(90deg, #06b6d4 0%, #0e8de9 50%, #3bf69c 100%);
	font-family: var(--tipo-principal);
	background-size: 300% 400%;
	animation: gradient 10s ease infinite;
	font-weight: 900;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.title_container {
	color: #0e8de9;
	width: 100%;
	text-align: center;
	font-family: var(--tipo-principal);
	font-weight: 900;
}

.container_main_skills {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
	gap: 2rem;
	grid-template-rows: 1fr 1fr;
	justify-items: center;
}

.card_container_languaje,
.card_container_frontend,
.card_container_backend,
.card_container_devops,
.card_container_database,
.card_container_cloud,
.card_container_test,
.card_container_design {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 30rem;
	width: 20rem;
	gap: 1rem;
	background-color: #ffffff00;
	box-shadow: 2px 1px 2px 1px #67666622;
	border-radius: 20px;
}

.card_container_languaje h3,
.card_container_frontend h3,
.card_container_backend h3,
.card_container_devops h3,
.card_container_database h3,
.card_container_cloud h3,
.card_container_test h3,
.card_container_design h3 {
	padding: 1rem 0;
	font-size: 3rem;
	font-weight: 100;
	font-style: italic;
}

@media screen and (max-width: 768px) {
	#Skills {
		width: 100%;
		justify-content: center;
	}
	.container_main_skills {
		grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	}

	.skills_title {
		font-size: 4rem;
		margin: 2rem 0;
		padding: 0;
		text-align: center;
	}
}
