.container_section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 70%;
	margin: 0 auto;
	padding: 5rem 0;
}

.skills_title {
	padding: 5rem 0;
	margin: 2rem 0;
	font-size: 6rem;
	background: linear-gradient(90deg, #06b6d4 0%, #0e8de9 50%, #3bf69c 100%);
	font-family: var(--tipo-principal);
	background-size: 300% 400%;
	animation: gradient 10s ease infinite;
	font-weight: 900;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* .container_main_skills {
	display: grid;
	grid-template-columns: repeat(4, minmax(17rem, 1fr));
	gap: 1rem;
	grid-template-rows: 1fr 1fr;
	justify-items: center;
} */

@media screen and (max-width: 768px) {
	#Skills {
		width: 100%;
		justify-content: center;
	}
	/* .container_main_skills {
		grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	} */

	.skills_title {
		font-size: 4rem;
		margin: 2rem 0;
		padding: 0;
		text-align: center;
	}
}

.container_main_skills_desktop {
	display: grid;
	width: 100%;
	grid-template-columns: 18rem 1fr 1fr 18rem;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 1rem;
	grid-template-areas:
		'grid_1 grid_3 grid_3 grid_3'
		'grid_1 grid_4 grid_5 grid_7'
		'grid_1 grid_4  grid_5 grid_7'
		'grid_2 grid_6 grid_6 grid_7';
}
.grid_1 {
	grid-area: grid_1;
}

.grid_2 {
	grid-area: grid_2;
}

.grid_3 {
	grid-area: grid_3;
}

.grid_4 {
	grid-area: grid_4;
}

.grid_5 {
	grid-area: grid_5;
}

.grid_6 {
	grid-area: grid_6;
}

.grid_7 {
	grid-area: grid_7;
}

.container_main_skills_mobile {
	display: none;
}

@media screen and (max-width: 768px) {
	.container_main_skills_desktop {
		display: none;
	}
	.container_main_skills_mobile {
		display: block;
		width: 100%;
		display: flex;
	}
}
