.card {
	display: flex;
	height: auto;
	gap: 10px;
	padding: 0.3rem 1rem;
	align-items: center;
	border-radius: 7px;
	background-color: rgba(67, 70, 72, 0.138);
	box-shadow: 3px 2px 3px 1px rgba(6, 182, 212, 0.25);
	margin-left: 3rem;
}

.card_title {
	font-size: 1.2rem;
}

.card_container_image {
	height: auto;
	/* object-fit: contain; */
}

.card_image {
	width: 5.2rem;
	height: 4rem;
	object-fit: contain;
}
