nav {
	display: flex;
	padding-top: 1rem;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	height: 2rem;
	font-size: 1.5em;
}

.navbar_container_menu {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar_container_logo {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}
.logo_item {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.navbar_logo {
	background: linear-gradient(90deg, #06b6d4 0%, #0e8de9 50%, #3bf69c 100%);
	font-family: var(--tipo-principal);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	font-weight: 900;
	font-size: 2.5rem;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.navbar_menu_button {
	display: none;
	flex-direction: column;
	align-items: start;
	gap: 2px;
	width: 1.5rem;
	height: auto;
	cursor: pointer;
}

.navbar_menu_hamburger_1 {
	width: 100%;
	height: 4px;
	border-radius: 25px;
	background: linear-gradient(90deg, #06b6d4 0%, #0e8de9 50%, #3bf69c 100%);
	background-size: 400% 400%;
	animation: gradient 6s ease infinite;
	animation-delay: 600ms;
	-webkit-text-fill-color: transparent;
}

.navbar_menu_hamburger_2 {
	width: 85%;
	height: 4px;
	border-radius: 25px;
	background: linear-gradient(90deg, #06b6d4 0%, #0e8de9 50%, #3bf69c 100%);
	background-size: 400% 400%;
	animation: gradient 6s ease infinite;
	animation-delay: 400ms;
	-webkit-text-fill-color: transparent;
}
.navbar_menu_hamburger_3 {
	width: 70%;
	height: 4px;
	border-radius: 25px;
	background: linear-gradient(90deg, #06b6d4 0%, #0e8de9 50%, #3bf69c 100%);
	background-size: 400% 400%;
	animation: gradient 6s ease infinite;
	animation-delay: 200ms;
	-webkit-text-fill-color: transparent;
}

.navbar_menu_hamburger_4 {
	width: 65%;
	height: 4px;
	border-radius: 25px;
	background: linear-gradient(90deg, #06b6d4 0%, #0e8de9 50%, #3bf69c 100%);
	background-size: 400% 400%;
	animation: gradient 6s ease infinite;
	-webkit-text-fill-color: transparent;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.navbar_menu_ul {
	display: flex;
	flex-direction: row;
	font-family: var(--tipo-secundaria);
	list-style: none;
	gap: 2rem;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}

li {
	font-family: var(--tipo-principal);
	font-weight: 400;
}

li:hover {
	background: linear-gradient(90deg, #06b6d4 0%, #0e8de9 50%, #3bf69c 100%);
	font-family: var(--tipo-principal);
	background-size: 400% 400%;
	animation: gradient 1s alternate-reverse infinite;
	font-weight: 900;
	scale: 1.2;

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.navbar_container_button {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 1rem;
}
.navbar_icon_github {
	width: 1.8em;
	height: 1.8em;
}

@media screen and (max-width: 786px) {
	nav {
		padding-top: 0.5em;
		display: inline;
	}
	.logo_item {
		flex-direction: row;
		gap:1rem;
	}

	.navbar_menu_button {
		display: flex;
	}
	.navbar_container_logo {
		display: flex;
		width: 90%;
		flex-direction: row;
		justify-content: space-between;
		margin: 0 auto;
	}
	.navbar_container_menu {
		height: 0vh;
		opacity: 0;
		overflow: hidden;
		transition: all 0.5s ease;
	}
	.navbar_container_menu.isActive {
		height: 30vh;
		opacity: 1;
	}
	.navbar_menu_ul {
		flex-direction: column;
	}

	.navbar_icon_github {
		width: 1.5em;
		height: 1.5em;
	}
	.logo_dark_mode {
		width: 1.5em;
		height: 1.5em;
	}
}

@media screen and (max-width: 486px) {
	.navbar_icon_github {
		width: 1.3em;
		height: 1.3em;
	}
	.logo_dark_mode {
		width: 1.3em;
		height: 1.3em;
	}
}

@media screen and (max-width: 336px) {
	main {
		width: 90%;
	}
}
