.container_main_projects {
	display: grid;
	margin: 3rem;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	gap: 3rem;
	grid-template-rows: 1fr 1fr;
	justify-items: center;
}
.projects_title {
	margin: 2rem 0;
	font-size: 6rem;
	background: linear-gradient(90deg, #06b6d4 0%, #0e8de9 50%, #3bf69c 100%);
	font-family: var(--tipo-principal);
	background-size: 300% 400%;
	animation: gradient 10s ease infinite;
	font-weight: 900;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.container_projects {
	position: relative;

	align-items: end;
	max-width: 30rem;
	max-height: 34rem;
	overflow: hidden;
	object-fit: cover;
	background-image: url('https://res.cloudinary.com/daxltixrz/image/upload/v1669861183/samples/ecommerce/accessories-bag.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 50px 0px 5px 5px;
	box-shadow: 0px 1px 10px 1px rgb(143, 140, 140);
}

@media screen and (max-width: 768px) {
	.container_main_projects {
		display: grid;
		margin: 0 3rem;
		grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
		gap: 3rem;
		grid-template-rows: 1fr 1fr;
		justify-items: center;
	}

	.container_projects {
		display: flex;
		align-items: end;
		max-width: 30rem;
		max-height: 32rem;
		overflow: hidden;
		object-fit: cover;
		/* background-color: rgba(128, 120, 120, 0.609); */
		border-radius: 50px 0px 5px 5px;
	}
}

.card_project {
	position: absolute;
	opacity: 0;
	width: auto;
	z-index: 999;
	left: 12%;
	top: 35%;
}

.container_projects:hover .card_project {
	position: absolute;
	opacity: 1;
	z-index: 999;
	left: 50;
	bottom: 50;
	animation: apear 4s ease-in-out;
}

@keyframes apear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.container_projects:hover {
	background-size: 1500%;
	background-position: 42% 28%;
	animation: hoa 3s ease-in-out;
}

@keyframes hoa {
	0% {
		background-size: 170%;
		background-position: 0% 50%;
	}
	100% {
		background-size: 1500%;
		background-position: 42% 28%;
	}
}
